<app-header-back title="Faça um novo Pedido" backLink="customer-select"></app-header-back>
<ion-content>
  <ion-list>

    <ion-item lines="none">
      <ion-label position="stacked">Cliente</ion-label>
      <ion-input disabled="true">Alexandre Weber Dalabona</ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Número do Pedido</ion-label>
      <ion-input disabled="true">4578026</ion-input>
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="floating">Condição de Pagamento</ion-label>
      <ion-select>
        <ion-select-option value="30d">30 Dias</ion-select-option>
        <ion-select-option value="60dm">60 Dias</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="stacked">Observação</ion-label>
      <ion-input placeholder="Digite a Observação"></ion-input>
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="stacked">Desconto</ion-label>
      <ion-input type="number" placeholder="Digite o deconto"></ion-input>
    </ion-item>

    <ion-item lines="date">
      <ion-label position="stacked">Data de Entrega</ion-label>
      <ion-input type="number" placeholder="Digite a data"></ion-input>
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="stacked">Ordem de Compra</ion-label>
      <ion-input type="string" placeholder="Digite a ordem"></ion-input>
    </ion-item>
      
    <ion-item lines="inset">
      <ion-label position="floating">Tipo de Pedido</ion-label>
      <ion-select>
        <ion-select-option value="cif">CIF</ion-select-option>
        <ion-select-option value="fob">FOB</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="floating">Tipo de Operação de Venda</ion-label>
      <ion-select>
        <ion-select-option value="1">Tipo de operação 1</ion-select-option>
        <ion-select-option value="2">Tipo de operação 2</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="floating">Tabela de Preço</ion-label>
      <ion-select>
        <ion-select-option value="1">Tabela 1</ion-select-option>
        <ion-select-option value="2">Tabela 2</ion-select-option>
      </ion-select>
    </ion-item>
      
    <ion-item lines="inset">
      <ion-label position="floating">Local de Entrega</ion-label>
      <ion-select>
        <ion-select-option value="1">Local 1</ion-select-option>
        <ion-select-option value="2">Local 2</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item lines="none">
      <ion-label position="stacked">Endereço</ion-label>
      <ion-input type="string" placeholder="Digite o Endereço"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button expand="block" expand="block">Salvar</ion-button>
    </ion-item>

  </ion-list>
</ion-content>